.book-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.book-list li {
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  display: block;
  background-color: #e8e8ed;
  text-align: left;
}
.book-list li:nth-child(even) {
  background-color: #d7d9dc;
}
.book-list li:hover {
  background-color: #1b5696;
  cursor: pointer;
}
.book-info {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.icon {
  margin-left: auto;
  text-align: center;
  align-items: center;
  transition: all .3s;
}
.icon:hover{
  color: red;
}