.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterGroup {
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inp {
  margin: 10px;
  padding: 5px;
}
.btn {
  background-color: #0a315c;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 7px;
  margin-left: 10px;
  font-size: 15px;
  white-space: nowrap;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #091b2e;
}
.icon{
  height: 70px;
  width: 70px;
}
